{% load static %}
<div class="sidebar border-end vh-10 p-3">
  <ul class="nav flex-column">
    
    <li class="nav-item mt-2 mb-2">
      <a href="home.html" class="nav-link d-flex flex-column align-items-center rounded hover-dark">
        <img src="{% static 'images/home_btn.png' %}" alt="Home">
        <span class="mt-2 text-white">Home</span>
      </a>
    </li>

    <li class="nav-item mt-2 mb-2">
      <a href="all_sessions.html" class="nav-link d-flex flex-column align-items-center rounded hover-dark">
        <img src="{% static 'images/sessions_btn.png' %}" alt="Sessions">
        <span class="mt-2 text-white">Sessions</span>
      </a>
    </li>

    <li class="nav-item mt-2 mb-2">
      <a href="#" class="nav-link d-flex flex-column align-items-center rounded hover-dark">
        <img src="{% static 'images/summaries_btn.png' %}" alt="Summaries">
        <span class="mt-2 text-white">Summaries</span>
      </a>
    </li>

    <li class="nav-item mt-2 mb-2">
      <a href="material.html" class="nav-link d-flex flex-column align-items-center rounded hover-dark">
        <img src="{% static 'images/students_btn.png' %}" alt="Students">
        <span class="mt-2 text-white">Students</span>
      </a>
    </li>

    <li class="nav-item mt-2 mb-2">
      <a href="#" class="nav-link d-flex flex-column align-items-center rounded hover-dark">
        <img src="{% static 'images/courses_btn.png' %}" alt="Courses">
        <span class="mt-2 text-white">Courses</span>
      </a>
    </li>

    <li class="nav-item mt-2 mb-2">
      <a href="#" class="nav-link d-flex flex-column align-items-center rounded hover-dark">
        <img src="{% static 'images/certificates_btn.png' %}" alt="Certificates">
        <span class="mt-2 text-white">Certificates</span>
      </a>
    </li>

  </ul>
</div>
