{%load static%}
<div class="progress-container">
    
    <div class="progress-title">Awesome! you are 25 points away from gold!</div>
        <div class="points-count">Points accumulated this week: 75</div>
            <div class="medal-track">
                <div class="medal medal-bronze" data-points="Bronze: 25 points"></div>
                <div class="medal medal-silver" data-points="Silver: 50 points"></div>
                <div class="medal medal-gold" data-points="Gold: 100 points"></div>
            </div>

                        
<div class="progress-bar">
     <div class="progress-fill" id="progressFill"></div>
</div>

<div id="countdown" class="sm text-start text-muted">Rank resets in: </div>


</div>
