{%load static%}
<style>
.profile-img {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    }

.profile-img img {
width: 100%;
height: 100%;
object-fit: cover;
}

</style>

<table class="table table-borderless align-middle overflow-hidden rounded">
    
    <thead>
        <tr class="border-bottom">
            <th class="fw-bold align-middle">
            <div class="d-flex align-items-center">
                Teacher
                <button class="btn btn-sm rounded ms-2" style="background-color: #918072; color: white; ">
                    <i class="bi bi-arrow-up" style="font-size: 0.8rem;"></i>
                    <i class="bi bi-arrow-down" style="font-size: 0.8rem;"></i>
                </button>
            </div>
            </th>
            <th class="fw-bold align-middle">Phone</th>
            <th class="fw-bold align-middle">
            <div class="d-flex align-items-center">
                Points
                <button class="btn btn-sm rounded ms-2" style="background-color: #918072; color: white; ">
                    <i class="bi bi-arrow-up" style="font-size: 0.8rem;"></i>
                    <i class="bi bi-arrow-down" style="font-size: 0.8rem;"></i>
                </button>
            </div>
            </th>
            <th class="fw-bold align-middle">Join Date</th>
            <th class="fw-bold align-middle">Action</th>
        </tr>
    </thead>

    <tbody><tr class="border-bottom">
        <td>
        <div class="d-flex align-items-center">
                <div class="profile-img me-3"><img src="{% static 'images/contohstudent.jpg' %}"></div>
                Guru 1
            </div>
        </td>
        <td>XXXXXXXXXXXX</td>
        <td>XXX</td>
        <td>MMMM/DD/YYYY</td>
        <td><a href="#">view details</a></td>
        </tr>
    </tbody>

</table>
