{% extends "base/admin_base.html" %}

{% block title %}Admin Unconfirmed Certificates{% endblock %}

{% block content %}



<button class="rounded-full btn" style="background-color: #918072; color: white;"><i class="bi bi-arrow-left"></i> back</button>
<div class="text fs-1 fw-bold mb-2">Pending Certificates</div>

<div class="d-flex gap-3 mb-2">

    <!-- start -->
    <input type="month"
        name="start_date"
        class="rounded-xl border px-4 py-2 text-gray-700 placeholder-gray-400"
        placeholder="Start MM/YYYY">

    <!-- end -->
    <input type="month"
        name="end_date"
        class="rounded-xl border px-4 py-2 text-gray-700 placeholder-gray-400"
        placeholder="End MM/YYYY">
    

    <input 
    class="form-control mb-2 w-25 ms-auto" 
    type="search" 
    placeholder="Search student" 
    aria-label="Search student" >
</div>

<div class="d-flex gap-3 mb-2">
    <button class="rounded-full btn mb-4" style="background-color: #918072; color: white;">apply filter</button>
    <button class="rounded-full btn mb-4 ms-auto" style="background-color: #918072; color: white;">payment requests (x)</button>
</div>

{%include 'components/unconfirmed_certificates_table.html'%}

{% endblock %}
