{% extends "base/teacher_base.html" %}

{% block title %}Teacher Home{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        
        <!-- left -->
        <div class="col-md-6">
            {% include "components/progress_bar.html"%}
            {%include 'components/podium.html'%}
        </div>

        <!-- right -->
        <div class="col-md-6">
            
            {% include "components/clock.html"%}
            <div class="container my-4">
                <div class="row">
                    {% include "components/card.html" with text1="Summary" amount="7" text2="pending"%}
                    {% include "components/card.html" with text1="Certificates" amount="2" text2="pending"%}
                    {% include "components/card.html" with text1="Sessions done" amount="20" text2="this week"%}
                </div>
            </div>
            {% include "components/students_today.html" with student_name="student name" last_material="last material name" %}            
        </div>
        
        
    </div>
</div>

{% endblock %}
